article.menu-article {
    background-image: url(../IMAGENS/choco-background.png);
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(126, 65, 24, 0.6);
    background-blend-mode: multiply;
    display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
        justify-items: center;

    div.div-menu {
    display: flex;
    margin: 50px;
        flex-direction: column;
        text-align: center;
        color: var(--text);
        font-size: 20px;
        font-family: "Croissant One";

        img.img-menu {
            border-radius: 10px;
            width: 200px;
            box-shadow: 3px 2px 3px 5px rgba(0, 0, 0, 0.5);
        }
    }
}