* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --background-topo: #c71585;
}

.topo {
  background-color: var(--background-topo);
  /* height: 100px; */
  /* justify-content: space-between; */
  /* justify-content: center; */
  padding: 50px;
  h1 {
    color: white;
    text-align: center;
  }
  img {
    width: 100px;
    /* margin: 10px; */
    /* border-radius: 70px; */
  }
  /* .div-logo {
  } */
}
